<h1>Is there a bus near me?</h1>

<p>Give us your address or approximate location (<em>I am at the corner of peachtree road</em>, and we will let you know if there is a bus around you!</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
